@font-face {
    font-family: "Latin Modern Math";
    src:
        local("Latin Modern Math"),
        url("./latinmodern-math.otf") format("opentype");
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --accent-pink: #e174c5;
    --accent-purple: #8643b5;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
}

body {
    position: relative;
    background-color: #22222f;
    color: #f5f5f5;
    font-family: "IBM Plex Sans";
    margin: 0;
    height: 100vh;
    /* I don't want to accidentally select stuff in the presentation. */
    user-select: none;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: 999;
    background: linear-gradient(to bottom right, var(--accent-pink), var(--accent-purple));
    --w: 16px;
    --triangle-offset: 96px;
    clip-path: polygon(evenodd,
            /* outer rectangle */
            0px 0px,
            100% 0px,
            100% 100%,
            0px 100%,
            /* move inward */
            0px var(--w),
            var(--w) var(--w),
            /* inner rectangle with corner */
            var(--w) calc(100% - var(--w)),
            calc(100% - var(--w)) calc(100% - var(--w)),
            calc(100% - var(--w)) var(--triangle-offset),
            calc(100% - var(--triangle-offset)) var(--w),
            0px var(--w));
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    --size: calc(96px - 16px / sqrt(2));
    width: var(--size);
    height: var(--size);
    background-image: url("corner.jpg");
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
    z-index: 1000;
}

blockquote {
    margin-left: 1rem;
    border-left: .75rem solid #7f7f7f;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

math {
    font-family: "Latin Modern Math";
}

a, a:visited {
    color: lightskyblue;
}

a:active {
    color: dodgerblue;
}

@media not print {
    .reveal-fade {
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s ease-out;

        &.revealed {
            pointer-events: auto;
            opacity: 1;
        }
    }
}

.slide {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 48px;
    padding: 32px 48px;
    @media not print {
        scroll-snap-align: start;
        scroll-snap-stop: always;
    }

    h1 {
        margin: 0;
        font-size: 3em;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2em;
    }

    p {
        margin: 1rem 0;
    }

    ul {
        margin: 1rem 0;
    }

    ol {
        margin: 1rem 0;
        padding-left: 2ch;
    }

    ol > li:has(math) {
        margin: .5rem 0;
    }
}


.slide.flexible {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 1rem;

    h1,
    h2,
    p,
    ul,
    ol {
        margin-block: 0;
    }

    .flex-target {
        flex-grow: 1;
        flex-shrink: 1;
        align-self: start;
    }
}

.slide.title {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3em;
        text-align: center;
    }

    p {
        margin: 0;
    }

    hgroup p {
        font-style: italic;
        margin-bottom: 2em;
    }

    hgroup {
        display: contents;
    }
}

.gradient-demo {
    width: 100%;
    height: 2em;
    flex-shrink: 0;
    margin: 1rem 0;
    color: white;
    text-align: center;
    line-height: 2em;
}

.srgb-gradient {
    background: linear-gradient(to right, red, lime);
}

.srgb-linear-gradient {
    background: linear-gradient(in srgb-linear to right, red, lime);
}

.oklab-gradient {
    background: linear-gradient(in oklab to right, red, lime);
}

.hsl-hue-gradient {
    background: linear-gradient(in hsl shorter hue to right,
            hsl(0deg 100% 50%),
            hsl(120deg 100% 50%),
            hsl(240deg 100% 50%),
            hsl(360deg 100% 50%));
}

.oklab-l-gradient {
    background: linear-gradient(in oklab to right, oklab(0 0.3 0.3), oklab(0.5 0.3 0.3));
}

.oklab-a-gradient {
    background: linear-gradient(in oklab to right, oklab(0.6 -0.15 0), oklab(0.6 0.2 0))
}

.oklab-b-gradient {
    background: linear-gradient(in oklab to right, oklab(0.75 0 -0.15), oklab(0.75 0 0.15))
}

.oklch-hue-gradient {
    --l: 0.75;
    --c: 0.125;
    background: linear-gradient(in oklch shorter hue to right,
            oklch(var(--l) var(--c) 0deg),
            oklch(var(--l) var(--c) 120deg),
            oklch(var(--l) var(--c) 240deg),
            oklch(var(--l) var(--c) 360deg));
}

.oklch-similar-hsl-gradient {
    --offset: 30deg;
    --s: 60%;
    --l: 65%;
    background: linear-gradient(in hsl shorter hue to right,
            hsl(calc(0deg - var(--offset)) var(--s) var(--l)),
            hsl(calc(120deg - var(--offset)) var(--s) var(--l)),
            hsl(calc(240deg - var(--offset)) var(--s) var(--l)),
            hsl(calc(360deg - var(--offset)) var(--s) var(--l)));
}

.gradient-label {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#gamma-side-by-side {
    min-height: 3em;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#color-picker-hue {
    width: calc(100% - 48px);
    height: 1em;
    align-self: center;
}

#color-picker-hue-selector {
    width: 100%;
    appearance: none;
    background: var(--accent-purple);
    height: 8px;
    border-radius: 4px;

    &::-webkit-slider-thumb {
        appearance: none;
        background-color: var(--accent-pink);
        box-shadow: 0 0 0 2px white;
        border: none;
        border-radius: 0;
        --width: 48px;
        --height: calc(sqrt(3) * 0.5 * var(--width));

        width: var(--width);
        height: var(--height);
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        position: relative;
    }

    &::-moz-range-thumb {
        background-color: var(--accent-pink);
        box-shadow: 0 0 0 2px white;
        border: none;
        border-radius: 0;
        --width: 48px;
        --height: calc(sqrt(3) * 0.5 * var(--width));

        width: var(--width);
        height: var(--height);
        clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
        position: relative;
    }
}

#color-picker-lower {
    margin-top: .5em;
    margin-left: .5em;
    margin-right: .5em;
    display: flex;
    flex-flow: row nowrap;
    width: calc(100% - 1em);
    min-height: 3em;
    gap: .5em;
}

#color-picker-sv {
    width: auto;
    height: auto;
    aspect-ratio: 1 / 1;
    --hue: 0deg;
    background:
        linear-gradient(to bottom, transparent 0%, black 100%),
        linear-gradient(to right, #ffffff 0%, hsl(var(--hue), 100%, 50%) 100%);

    position: relative;
    overflow: clip;
}

#color-picker-reticle {
    width: .5em;
    height: .5em;
    border: 1px solid white;
    outline: 2px solid black;
    box-shadow: white 0px 0px 0px 3px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
    pointer-events: none;
}

#color-picker-output {
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
}

#color-picker-output-hsv {
    min-width: 7ch;
}

#color-picker-output-rgb {
    display: grid;
    grid-template-columns: 7ch auto;
    gap: 0 .5em;

    .bar {
        border-radius: 4px;
        border: 2px solid white;
        width: 5em;
        height: 1em;
        align-self: center;

        position: relative;

        &.red {
            --col: #ff0000;
        }

        &.green {
            --col: #00ff00;
        }

        &.blue {
            --col: #4444ff;
        }

        &::after {
            display: block;
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            height: 100%;
            width: var(--fill);
            background-color: var(--col);
        }
    }
}

#color-picker-output-swatch {
    width: 100%;
    height: 2em;
    border: 2px solid white;
    border-radius: 4px;
}

#image-dimensions-box {
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height: 0;

    #image-dimensions-wrapper {
        position: relative;
        flex-grow: 1;
        display: grid;
        place-items: center;
        min-height: 0;
        min-width: 0;
        margin-top: 1.25em;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        min-height: 0;
        object-fit: contain;
        display: block;
    }

    #image-dimensions-horizontal {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        text-align: center;
        border-bottom: .1em solid white;
        margin-bottom: .25em;
    }

    #image-dimensions-vertical {
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        display: grid;
        place-items: center;
        border-left: .1em solid white;
        margin-left: .25em;
        padding-left: .25em;
    }

    p {
        text-align: center;
    }
}
